<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'site/css/styles.css' %}">
    <title>{{ site_title|default:"SU Nursing Courses" }}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body class="d-flex flex-column vh-100">
    {% block nav %}
        {% include 'site/navbar.html' %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>